# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Yatzy.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\chruc\Documents\Dev\C#\Yatzy\.idea\.idea.Yatzy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
